html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

div {
  border: 1px solid blue;
}

h1 {

}

header {
  background-color: black;
}

.red {
  background-color: firebrick;
  width: 100%;
}

 .banner {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
   height: 25rem;
   width: 100%;
   display: flex;
   background-repeat: no-repeat;
   background-size: cover;
 }

.bbox {
  background-color: black;
  width: 20rem;
  font-weight: bold;
}

.bbox h2 {
  font-size: 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.pen, .watch, .glasses {
  border: 4px solid black;
  width: 30%;
}

.pen h4, .watch h4, .glasses h4 {
  background-color: black;
  padding: 0.5rem auto;
}

.head {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.head img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
